<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<%# for each? %>
<p>Ingredients:
<ul>
  <% if @cocktail.doses %>
    <% @cocktail.doses.each do |dose| %>
      <li> <%= dose.description %></li>
      <li><%= dose.ingredient.name %></li>
    <% end %>
  <% end%>
</ul>
<br>
<p><%= link_to 'Want to add ingredients?', new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to 'Back to list of cocktails', cocktails_path %></p>