<h1>Dose#new</h1>
<p>Find me in app/views/dose/new.html.erb</p>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.submit "Create Ingredient", class: 'btn btn-success'%>
<% end %>